@import './outils/variables';

@import './base/fonts';

.chargement-background {
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.chargement {
  /* création du loader */

  border-top: 10px solid $primary-color;
  border-bottom: 10px solid $secondary-color;
  border-left: 10px solid $third-color;
  border-right: 10px solid $background-footer;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1500ms linear;
  -o-animation: spin 1500ms linear;
  animation: spin 1500ms linear;
  transform: scale(0);

  /* placement au milieu de la page */

  margin: auto;
  position: absolute;
  top:0; left:0; right:0; bottom:0;
}

  /* animation du loader */

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
        transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
  }
}

/* header */

header {
  text-align: center;
}

/* corps */

html, body {
  margin: 1rem 0rem 0rem;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  font-size: 24px;
}

/* localisation */

.localisation {
  display: flex;
  justify-content: center;
  background-color: $background-localisation;
  margin-top: 0.5rem;
}

.localisation p {
  margin: 1rem; 
}

/* explorer */

.explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  padding-bottom: 2rem;
  text-align: center;
}

.explorer p {
  font-weight: lighter;
  margin: 0rem 0rem 2rem;
}

.button-explorer {
  cursor: pointer;
  border-radius: 30px;
  padding: 1.2rem;
  background-color: $secondary-color;
  box-shadow: inset 0rem 0rem 2rem 1rem $primary-color-contrast;
  color: white;
  border: none;
  font-size: 1rem;
}

.button-explorer:hover {
  background-color: rgba(255,121,218,0.7);
}

.explorer h1 {
  margin: 1.5rem 1.5rem 0rem;
  padding: 1rem;
}

/* fonctionnement */

.fonctionnement {
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.fonctionnement-card {
  display: flex;
  background-color: $background-color;
  border-radius: 30px;
  padding: 1rem 1rem 1rem 0rem;
  justify-content: space-evenly;
  width: 14rem;
  box-shadow:0.5rem 0.5rem 0.5rem $shadow-color;
}

.number {
  position: absolute;
  margin-left: -14.5rem;
  border-radius: 50%;
  background-color: $primary-color-contrast;
  text-align: center;
  width: 15px;
  height: 15px;
  padding: 2.5px;
  color: $font-color;
}

.fonctionnement :hover {
  background-color: $fonctionnement-hover;
  cursor: pointer;
}

.titre-fonctionnement {
  padding: 1rem;
}

@media (max-width: 768px) {
  .titre-fonctionnement {
      text-align: left;
  }

  .fonctionnement {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
  }
  .fonctionnement-card {
    display: flex;
    align-content: space-between;
    margin: 1rem;
  }
}

/* restaurants */

.restaurants img {
  border-radius: 5px 5px 0px 0px;
  max-width: 400px;
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

.restaurants {
  background-color: $background-color;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  padding-bottom: 2rem;
  justify-content: center;
}

.titre-restaurant {
  background-color: $background-color;
  margin-bottom: 0rem;
  padding: 2rem;
}

.restaurant-card {
  box-shadow: 0px 4px 8px $shadow-color;
  border-radius: 2rem;
  background-color: white;
  text-decoration: none;
  color: black;
}

.image p {
  position: absolute;
  z-index: 1;
  margin-left: 18rem;
  background-color: $third-color;
  padding: 0.4rem;
  border-radius: 4px;
  font-weight: bold;
  color: $nouveau-font;
}

.container {
  padding: 2px 16px;
}

.container h2 {
  font-size: large;
}

.container img {
  height: 16px;
  width: 16px;
}

.restaurant-card :hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .titre-restaurant {
      text-align: left;
  }

  .restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* pied de page */

footer {
  display: flex;
  flex-direction: column;
  background-color: $background-footer;
  color: $font-color;
  height: 12rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer img {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(310deg) brightness(107%) contrast(101%);
  height: 17px;
}

.footer-line {
  padding: 0.3rem;
  margin-left: 1rem;
}

.logo-footer {
  padding: 1rem 0rem;
}

@media (min-width: 768px) {
  footer {
      align-items: center;
  }
} 

/*# sourceMappingURL=style.css.map */