@import './outils/variables';
@import './outils/mixins';
@import './base/fonts';

/* corps */

html, body {
  margin: 0.5rem 0rem 0rem;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Shrikhand';
  font-weight: bold;
  font-style: italic;
  font-size: x-large;
}

/* header */

header {
  display: grid;
  grid-template-areas: "a b c";
  align-content: center;
  margin-bottom: 0.5rem;
}

.title {
  display: flex;
  justify-self: center;
}

.left-arrow {
  cursor: pointer;
  width: 13px;
  margin-left: 1rem;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0 1rem;
  align-items: center;
}

/* image principale */

.image-principale {
  z-index: 0;
  height: 300px;

  & .image {
    height: 55%;
    object-fit: cover;
    width: 100%;
    position: absolute;
  }
}

/* coeur */

.heart {
  @include hearts;
}

/* menu */

.menu {
  display: flex;
  flex-direction: column;
  background-color: $background-grey;
  border-radius: 30px 30px 0px 0px;
  z-index: 1;
  position: relative;
}

.row-plate {

  margin: 0.5rem;
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 15px;
  box-shadow: 0px 4px 8px $shadow-color;
  overflow: hidden;
  cursor: pointer;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari et Chrome */
  -o-animation: fadein 2s; /* Opera */

  &__column {
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }
  
  &__firstline {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  
  &__secondline {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &__price {
    font-weight: bold;
    display: flex;
    align-self: flex-end;
  }

  &__box {
    background-color: $third-color;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content:center;
    transition-duration: 400ms;
  }

  &:hover &__box {
    margin-right: -1rem;
  }

  &__wrap {
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    transform: rotate(180deg);
    transition-duration: 400ms;
  }

  &:hover &__wrap {
    transform: rotate(0);
  }

  &__check {
    color: $third-color;
  }

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
}

/* soulignement des titres */

h2 {
  margin-left: 1rem;
  font-weight: lighter;
  font-size: medium;
  padding-bottom: 1rem;
  position: relative;
  margin-bottom: 0;
  text-transform: uppercase;
}

h2::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid $third-color;
}

/* bouton commander */

.section-commander {
  background-color: $background-grey;
  display: flex;
  justify-content: center;
}

.button-commander {
  @include button;
}

/* pied de page */

footer {
  display: flex;
  flex-direction: column;
  background-color: $background-footer;
  height: 12rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer img {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(310deg) brightness(107%) contrast(101%);
  height: 17px;
}

.footer-line {
  padding: 0.3rem;
  margin-left: 1rem;
}

.logo-footer {
  padding: 1rem 0rem;
}

@media (min-width: 768px) {
  footer {
      align-items: center;
  }
}