@charset "UTF-8";
/* police */
@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.eot");
  src: url("Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("Roboto-Regular.woff2") format("woff2"), url("Roboto-Regular.woff") format("woff"), url("Roboto-Regular.ttf") format("truetype"), url("Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Shrikhand";
  src: url("Shrikhand-Regular.eot");
  src: url("Shrikhand-Regular.eot?#iefix") format("embedded-opentype"), url("Shrikhand-Regular.woff2") format("woff2"), url("Shrikhand-Regular.woff") format("woff"), url("Shrikhand-Regular.ttf") format("truetype"), url("Shrikhand-Regular.svg#Shrikhand-Regular") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
/* corps */
html, body {
  margin: 1rem 0rem 0rem;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand";
  margin-left: 1rem;
  font-weight: bold;
  font-style: italic;
  font-size: xx-large;
}

h2 {
  margin-left: 1rem;
  font-weight: lighter;
  font-size: medium;
  padding-bottom: 1rem;
  position: relative;
  margin-bottom: 0;
}

h2::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #99E2D0;
}

h4 {
  display: flex;
  justify-content: flex-end;
  margin-top: -1.5rem;
  margin-right: 1rem;
}

/* header */
header {
  display: grid;
  grid-template-areas: "a b c";
}

header a {
  width: 16px;
  height: 16px;
}

.title {
  display: flex;
  justify-self: center;
  padding-bottom: 2rem;
}

.left-arrow {
  cursor: pointer;
}

/* menu */
.menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  gap: 1rem;
}

.menu-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: #f6f6f6;
  padding-top: 1rem;
}

.menu-title img {
  margin-right: 2rem;
}

.restaurant-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: flex;
  justify-self: center;
  margin-bottom: -2.5rem;
}

.menu-list {
  margin-left: 1rem;
  line-height: 0.5rem;
  box-shadow: 0px 4px 8px #eaeaea;
  border-radius: 2rem;
  background-color: white;
  padding-left: 1rem;
  margin-right: 1rem;
}

/* coeur */
svg {
  overflow: visible;
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 2rem;
}

path {
  /* décalage de la position de départ des pointillées */
  stroke-dashoffset: 0;
  /* contrôle le motif et l'espacement entre les segments utilisés pour tracer le contour */
  stroke-dasharray: 1550;
  /* modifie l'origine du repère */
  transform-origin: center;
}

.heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  /* contour */
  stroke: none;
}

.heart-main:hover path {
  -webkit-animation: stroke-animation 2.5s ease-in-out forwards;
          animation: stroke-animation 2.5s ease-in-out forwards;
}

@-webkit-keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: pink;
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: pink;
  }
}

@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: pink;
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: pink;
  }
}
@media (max-width: 768px) {
  .menu {
    max-width: 768px;
  }
}
@media (min-width: 769px) {
  .restaurant-image {
    max-height: 600px;
  }
}
/* bouton commander */
.section-explorer {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
}

.button-explorer {
  cursor: pointer;
  border-radius: 30px;
  padding: 1.2rem 4rem;
  box-shadow: inset 0rem 0rem 2rem 1rem #ad5edd;
  color: white;
  border: none;
  font-size: 1rem;
  margin: 2rem 0rem 3rem;
  background-color: #FF79DA;
}

.button-explorer:hover {
  background-color: rgba(255, 121, 218, 0.7);
}

/* pied de page */
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #3b2222;
  height: 12rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer img {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(310deg) brightness(107%) contrast(101%);
  height: 17px;
}

.footer-line {
  padding: 0.3rem;
  margin-left: 1rem;
}

.logo-footer {
  padding: 1rem 0rem;
}

@media (min-width: 768px) {
  footer {
    align-items: center;
  }
}
/*# sourceMappingURL=style2.css.map *//*# sourceMappingURL=style2.css.map */