@charset "UTF-8";
/* police */
@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Regular.eot");
  src: url("./Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("./Roboto/Roboto-Regular.woff2") format("woff2"), url("./Roboto/Roboto-Regular.woff") format("woff"), url("./Roboto/Roboto-Regular.ttf") format("truetype"), url("./Roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Shrikhand";
  src: url("./Shrikhand/Shrikhand-Regular.eot");
  src: url("./Shrikhand/Shrikhand-Regular.eot?#iefix") format("embedded-opentype"), url("./Shrikhand/Shrikhand-Regular.woff2") format("woff2"), url("./Shrikhand/Shrikhand-Regular.woff") format("woff"), url("./Shrikhand/Shrikhand-Regular.ttf") format("truetype"), url("./Shrikhand/Shrikhand-Regular.svg#Shrikhand-Regular") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
/* corps */
html, body {
  margin: 0.5rem 0rem 0rem;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand";
  font-weight: bold;
  font-style: italic;
  font-size: x-large;
}

/* header */
header {
  display: grid;
  grid-template-areas: "a b c";
  align-content: center;
  margin-bottom: 0.5rem;
}

header a {
  width: 16px;
  height: 16px;
}

.title {
  display: flex;
  justify-self: center;
}

.left-arrow {
  cursor: pointer;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 0 1rem;
  align-items: center;
}

/* image principale */
.image-principale {
  z-index: 0;
  height: 300px;
}
.image-principale .image {
  height: 55%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: absolute;
}

/* coeur */
.heart {
  cursor: pointer;
}
.heart .bg {
  z-index: 1;
  position: absolute;
  font-size: 30px;
}
.heart .no-bg {
  font-size: 30px;
  z-index: 0;
  transform: scale(0);
  background: linear-gradient(#a55cdb, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.heart:hover .no-bg {
  transform-origin: bottom;
  transform: scale(1);
  transition: 0.3s;
}

/* menu */
.menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0px 0px;
  z-index: 1;
  position: relative;
}

.row-plate {
  margin: 0.5rem;
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 15px;
  box-shadow: 0px 4px 8px #eaeaea;
  overflow: hidden;
  cursor: pointer;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari et Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}
.row-plate__column {
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.row-plate__firstline {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.row-plate__secondline {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.row-plate__price {
  font-weight: bold;
  display: flex;
  align-self: flex-end;
}
.row-plate__box {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 250ms;
}
.row-plate:hover .row-plate__box {
  margin-right: -1rem;
}
.row-plate__wrap {
  height: 1.4rem;
  width: 1.4rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  transform: rotate(180deg);
  transition-duration: 250ms;
}
.row-plate:hover .row-plate__wrap {
  transform: rotate(0);
}
.row-plate__check {
  color: #99E2D0;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* soulignement des titres h2 */
h2 {
  margin-left: 1rem;
  font-weight: lighter;
  font-size: medium;
  padding-bottom: 1rem;
  position: relative;
  margin-bottom: 0;
  text-transform: uppercase;
}

h2::after {
  content: "";
  position: absolute;
  width: 2.5rem;
  bottom: 0;
  left: 0;
  border-bottom: 3px solid #99E2D0;
}

/* coche */
/* coeur */
.icon {
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 2rem;
}

svg {
  overflow: visible;
}

path {
  /* décalage de la position de départ des pointillées */
  stroke-dashoffset: 0;
  /* contrôle le motif et l'espacement entre les segments utilisés pour tracer le contour */
  stroke-dasharray: 1550;
  /* modifie l'origine du repère */
  transform-origin: center;
}

.heart-background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  /* contour */
  stroke: none;
}

.heart-main:hover path {
  -webkit-animation: stroke-animation 2s ease-in-out forwards;
  animation: stroke-animation 2s ease-in-out forwards;
}

.heart-main:hover ~ .heart-background path {
  -webkit-animation: fade-animation 2s ease-in-out forwards;
  animation: fade-animation 2s ease-in-out forwards;
}

@-webkit-keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: violet;
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: violet;
  }
}
@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: violet;
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: violet;
  }
}
@-webkit-keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: violet;
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
@keyframes fade-animation {
  70% {
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: violet;
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
/* bouton commander */
.section-commander {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
}

.button-commander {
  cursor: pointer;
  border-radius: 30px;
  padding: 1.2rem 4rem;
  box-shadow: inset 0rem 0rem 2rem 1rem #ad5edd;
  color: white;
  border: none;
  font-size: 1rem;
  margin: 2rem 0rem 3rem;
  background-color: #FF79DA;
}

.button-commander:hover {
  background-color: rgba(255, 121, 218, 0.7);
}

/* pied de page */
footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #3b2222;
  height: 12rem;
}

footer a {
  color: white;
  text-decoration: none;
}

footer img {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(310deg) brightness(107%) contrast(101%);
  height: 17px;
}

.footer-line {
  padding: 0.3rem;
  margin-left: 1rem;
}

.logo-footer {
  padding: 1rem 0rem;
}

@media (min-width: 768px) {
  footer {
    align-items: center;
  }
}
/*# sourceMappingURL=style-a-la-francaise.css.map *//*# sourceMappingURL=style-a-la-francaise.css.map */