/* boutons */

@mixin button {
  cursor: pointer;
  border-radius: 30px;
  padding: 1.2rem 4rem;
  box-shadow: inset 0rem 0rem 2rem 1rem $primary-color-contrast;
  color: white;
  border: none;
  font-size: 1rem;
  margin: 2rem 0rem 3rem;
  background-color: $secondary-color;

  &:hover {
    filter: brightness(1.25);
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.8);
  }
}

/* coeur */

@mixin hearts {
  cursor: pointer;

  & .empty {
    z-index: 1;
    position: absolute;
    font-size: 30px; 
  }

  & .black {
    font-size: 30px;
    z-index: 0;
    /* modifie l'espace de coordonnées utilisé pour la mise en forme visuelle */
    transform: scale(0);
    /* dégradé de 2 couleurs */
    background: linear-gradient($primary-color, $secondary-color);
    /* façon dont l'arrière-plan s'étend sous la boîte de bordure */
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
  }

  &:hover .black {
    transform-origin: bottom;
    transform: scale(1);
    transition: 0.3s;
  }
}