$primary-color: #a55cdb;
$primary-color-contrast: #ad5edd;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$fonctionnement-card-hover: #F5edff;
$shadow-color: #eaeaea;
$nouveau-card-font: #028E6D;
$background-grey: #f6f6f6;
$background-localisation: #ebebeb;
$background-footer: #353535;