$primary-color-contrast: #ad5edd;
$primary-color: #a55cdb;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$background-color: #f6f6f6;
$background-localisation: #ebebeb;
$background-footer: #353535;
$fonctionnement-hover: #F5edff;
$font-color: rgb(59, 34, 34);
$shadow-color: #eaeaea;
$nouveau-font: #028E6D;